<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>projekatServlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrerServlet</servlet-name>
  	<display-name>RegistrerServlet</display-name>
  	<description></description>
  	<servlet-class>projekatServlets.RegistrerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RezervacijaServlet</servlet-name>
  	<display-name>RezervacijaServlet</display-name>
  	<description></description>
  	<servlet-class>projekatServlets.RezervacijaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginAdminServlet</servlet-name>
  	<display-name>LoginAdminServlet</display-name>
  	<description></description>
  	<servlet-class>projekatServlets.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IzmeniKartuServlet</servlet-name>
  	<display-name>IzmeniKartuServlet</display-name>
  	<description></description>
  	<servlet-class>projekatServlets.IzmeniKartuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrerServlet</servlet-name>
  	<url-pattern>/RegistrerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RezervacijaServlet</servlet-name>
  	<url-pattern>/RezervacijaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginAdminServlet</servlet-name>
  	<url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IzmeniKartuServlet</servlet-name>
  	<url-pattern>/IzmeniKartuServlet</url-pattern>
  </servlet-mapping>
</web-app>
